{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Успешная отправка на почту</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>

    {% include 'header.html' %}


    <section class="reset-done">
        <div class="container">
            <div class="reset-done__block">
                <div class="reset-done__title-mail-wrapper">
                    <h1 class="title title_center">Проверьте вашу почту</h1>
                    <img src="{% static 'icons/Mail.svg' %}" class="reset-done__mail-img" alt="Почта">
                </div>
                <div class="reset-done__description">Ссылка для сброса пароля отправлена</div>
                <div class="reset-done__btn-wrapper">   
                    <a href="{% url 'users:login' %}" class="reset-done__back-btn">Вернуться к авторизации</a>
                </div>
            </div>
        </div>
    </section>


    {% include 'footer.html' %}




    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>


</body>

</html>