{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Запрос на восстановление пароля</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>

{% include 'header.html' %}


<section class="forgot-password">
    <div class="container">
        <div class="page-header__title-wrapper">
            <a href="{% url 'users:login' %}" class="page-header__link-back-block">
                <img src="{% static 'icons/arrowBack.svg' %}" alt="Вернуться назад">
                <div class="page-header__link-back">Назад</div>
            </a>
            <div class="page-header__title-block">
                <h1 class="title">Сброс пароля</h1>
            </div>
        </div>

        <div class="forgot-password__block">
            <div class="forgot-password__prompt">* Введите почту, на которую придет ссылка для сброса пароля</div>
            <form action="{% url 'users:password_reset' %}" method="post" class="forgot-password__form" data-success-url="{% url 'users:password_reset_done' %}" novalidate>
                {% csrf_token %}
                <div class="forgot-password__form-group">
                    <label for="{{ form.email.id_for_label }}" class="forgot-password__label">Почта</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger">{{ form.email.errors|join:"<br>" }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="forgot-password__btn-submit">Сбросить пароль</button>
            </form>
        </div>

    </div>
</section>


{% include 'footer.html' %}


{% include 'cookie.html' %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>


</body>

</html>
