{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Новый пароль</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>

    {% include 'header.html' %}


    <section class="forgot-password">
        <div class="container">
            <h1 class="title title_center">Сброс пароля</h1>
            <div class="forgot-password__block">
                <div class="forgot-password__prompt">* Придумайте новый пароль (минимум 6 символов, включая цифры и буквы)</div>
                <form action="{% url 'users:password_reset_confirm' uidb64=uidb64 token=token %}" id="password-reset-confirm"  method="post" class="forgot-password__form" data-success-url="{% url 'users:password_reset_complete' %}" novalidate>
                    {% csrf_token %}
                    <div class="forgot-password__form-group forgot-password__form-group_mb">
                        <label for="{{ form.new_password1.id_for_label }}" class="forgot-password__label">Новый пароль</label>
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <div class="text-danger">{{ form.new_password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="forgot-password__form-group">
                        <label for="{{ form.new_password2.id_for_label }}" class="forgot-password__label">Подтверждение пароля</label>
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <div class="text-danger">{{ form.new_password2.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="forgot-password__btn-submit">Сбросить пароль</button>
                </form>
            </div>

        </div>
    </section>


    {% include 'footer.html' %}
    
    
    {% include 'cookie.html' %}




    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>


</body>

</html>