{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Продукция</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>

    {% include 'header.html' %}


    <section class="products">
    <div class="container">
        <h1 class="products__title">Наша продукция</h1>
        <ul class="products__tabs">
            {% for category in categories %}
            <li class="products__tab {% if forloop.first %}products__tab-active{% endif %}" data-tab="{{ category.slug }}">
                <span>{{ category.name }}</span>
            </li>
            {% endfor %}
        </ul>
        <div class="products__content">
            {% for category in categories %}
            <div class="products__content-item {% if forloop.first %}products__content-item-active{% endif %}" data-content="{{ category.slug }}">
                <div class="products__cards">
                    {% for product in category.products.all %}
                    <div class="products__card">
                        <div class="products__img-block">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                        <div class="products__card-wrapper">
                            <div class="products__card-text">
                                <a href="{% url 'products:product_detail' product.slug %}" class="products__card-name">{{ product.name }}</a>
                            </div>
                            <div class="products__card-price">{{ product.price|floatformat:0 }} руб</div>
                            <a href="{% url 'products:product_detail' product.slug %}" class="products__card-btn">Подробнее</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


    {% include 'footer.html' %}
    


    {% include 'cookie.html' %}


    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>